<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/login.css" />
    <!-- <title>Login</title> -->
  </head>
  <body>
    <section>
      <div class="container">
        <div class="user signinBox">
          <div class="imgBox">
            <img src="images/hero-bg.jpg" alt="" />
          </div>
          <div class="formBox" id="login">
            <form action="">
              <h2>Login</h2>
              <input type="text" name="" placeholder="username" id="username" />
              <input
                type="password"
                name=""
                placeholder="Enter Password"
                id="password"
              />
              <input type="submit" value="Login" />
              <a type="link" class="lnk" href="/register">
                <p class="signup">Don't have an Account?</p>
              </a>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script>
      const form = document.getElementById("login");
      form.addEventListener("submit", loginUser);

      async function loginUser(event) {
        // event.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        const result = await fetch("/api/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username,
            password,
          }),
        }).then((res) => res.json());

        if (result.status === "ok") {
          // everythign went fine
          console.log("Got the token: ", result.data);
          localStorage.setItem("token", result.data);
          //   alert("Success");
          window.location.href = "/event";
        } else {
          alert(result.error);
        }
      }
    </script>
  </body>
</html>
