<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <!-- <title>Login</title> -->
  </head>
  <body>
    <body>
      <section>
      <div class="container">
        <div class="user signinBox">
            
            <div class="formBox" >
                <form action="" id="reg-form">
                    <h2>Create an Account</h2>
                    <input type="text" name="" placeholder="Enter Username" id="username">
                    <input type="email" name="" placeholder="Enter Email" id="email">
                    <input type="password" name="" placeholder="Enter Password" id="password">
                    <input type="password" name="" placeholder="Confirm Password" id="confirmpassword">
                    <input type="submit" value="Sign Up">
                    <a type="link" class="lnk" href="/login">
                      <p class="signup">Already have an Account?</p>
                    </a>
                </form>

               
                
            </div>
            <div class="imgBox">
              <img src="images/hero-bg.jpg" alt="">
          </div>
        </div>
        </div>
      </section>

    <script>
      const form = document.getElementById("reg-form");
      form.addEventListener("submit", registerUser);

      async function registerUser(event) {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const confirmpassword = document.getElementById("confirmpassword").value
        const result = await fetch("/api/register", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email,
            username,
            password,
            confirmpassword,
          }),
        }).then((res) => res.json());

        if (result.status === "ok") {
          // everythign went fine
          //   alert("Success");
          window.location.href = "/login";
        } else {
          alert(result.error);
        }
      }
    </script>
  </body>
</html>
